{% extends 'partials/_base.html' %}
{% load static crispy_forms_tags %}
{% block title %}Verify BVN{% endblock title %}

{% block body %}
<div class="container mt-3">
    <div class="col-md-4 col-lg-6 col-12">
        {% include 'partials/_messages.html' %}
        <h3>Kindly Enter your BVN for verification</h3>
        <form method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Verify" class="btn btn-success">
        </form>
    </div>
</div>
{% endblock body %}