<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Safe Wallet</title>
    {% include 'partials/_stylesheets.html' %}
    {% block stylesheets %}
    {% endblock stylesheets %}
</head>
<body {% block hx_headers %}{% endblock hx_headers %}>
    {% include 'partials/_navbar.html' %}

    {% block body %}
    
    {% endblock body %}
    
    {% include 'partials/_footer.html' %}
    
    {% include 'partials/_scripts.html' %}

    {% block scripts %}
    {% endblock scripts %}
</body>


</html>